@import '../variables.module';

$brand-font-size: 1.375rem;
$links-line-height: 2rem;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $spacing-md + $spacing-lg;
  padding: 0 $spacing-lg;
  background-color: $color-primary;

  @media (min-width: $media-phone) {
    padding: 0 $spacing-xs;
  }
}

.title {
  margin-left: $spacing-xs;
  color: $color-white;
  font-size: $brand-font-size;
  vertical-align: middle;
}

.link {
  text-decoration: none;

  &:visited {
    color: $color-white;
  }
}

.logo {
  height: 2rem;
  vertical-align: middle;
}

.links {
  float: right;
  line-height: $links-line-height;
}

.button {
  color: $color-white;
  font-weight: bold;
}
