@import '../../variables';

$results-font-size: 2rem;
$border-radius: .2rem;

.GroupsGeneratorResult {
  display: inline-block;

  &__group {
    margin-top: $spacing-md;
    padding: $spacing-xs $spacing-md $spacing-xs $spacing-xs;
    border-width: $one-pixel-rem;
    border-style: solid;
    border-radius: $border-radius;
    border-color: $color-gray;
    text-align: left;
  }
}
