@import '../../include-media';
@import '../../variables';
$result-font-size: 10rem;
$side-panel-width: 19rem;
$side-panel-width-small: 9rem;
$side-panel-padding: $spacing-lg;
$side-panel-padding-small: $spacing-lg;
$side-panel-total-width: $side-panel-width + $side-panel-padding;
$side-panel-total-width-small: $side-panel-width-small + $side-panel-padding-small;

.GroupsGeneratorQuickPage {
  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;

    @media (min-width: $media-desktop) {
      margin: auto;
      flex-direction: row;

      @media (min-width: $media-widescreen) {
        width: 88rem;
      }
    }
  }

  &__content {
    @media (min-width: $media-desktop) {
      margin-left: $side-panel-total-width-small;
      flex: 1 0 0;

      @media (min-width: $media-widescreen) {
        margin-left: $side-panel-total-width;
      }
    }
  }

  &__side-panel {
    padding: $spacing-sm $side-panel-padding-small $spacing-sm $side-panel-padding-small;

    @media (min-width: $media-desktop) {
      width: $side-panel-width-small;
      padding-right: $side-panel-padding-small;
      padding-left: $side-panel-padding-small;

      @media (min-width: $media-widescreen) {
        width: $side-panel-width;
        padding-right: $side-panel-padding;
        padding-left: $side-panel-padding;
      }
    }
  }

  &__container &__results {
    font-size: $result-font-size;
    line-height: $result-font-size;
    text-align: center;
  }
}
