$published-results-background-color: white;
$summary-panel-background-color: rgba(0, 0, 0, .09);
$border-radius: .2rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.875rem;

.PublishedRandomNumberPage {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__details {
    margin-top: 5rem;
    text-align: left;
  }
}
