@import '../../include-media';
@import '../../variables';
$result-font-size: 10rem;
$side-panel-width: 19rem;
$side-panel-width-small: 9rem;
$side-panel-padding: $spacing-lg;
$side-panel-padding-small: $spacing-lg;
$side-panel-total-width: $side-panel-width + $side-panel-padding;
$side-panel-total-width-small: $side-panel-width-small + $side-panel-padding-small;

.RandomNumberQuickPage {
  @include media('>=desktop') {
    &__container {
      margin: auto;
      flex-direction: row;

      @include media('>=widescreen') {
        width: 88rem;
      }
    }

    &__content {
      margin-left: $side-panel-total-width-small;
      flex: 1 0 0;

      @include media('>=widescreen') {
        margin-left: $side-panel-total-width;
      }
    }

    &__side-panel {
      width: $side-panel-width-small;
      padding-right: $side-panel-padding-small;
      padding-left: $side-panel-padding-small;

      @include media('>=widescreen') {
        width: $side-panel-width;
        padding-right: $side-panel-padding;
        padding-left: $side-panel-padding;
      }
    }
  }

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__side-panel {
    padding: $side-panel-padding-small $spacing-sm $side-panel-padding-small $spacing-sm;
  }

  &__container &__results {
    font-size: $result-font-size;
    line-height: $result-font-size;
    text-align: center;
  }
}
