@import '~include-media/dist/include-media';
$result-font-size: 10rem;

.RandomNumberQuickPage {
  @include media('>tablet') {
    &__container {
      width: 50%;
      margin: auto;
    }
  }

  &__results {
    font-size: $result-font-size;
    text-align: center;
  }
}
