@import '../variables.module.scss';

.LearnMoreSection {
  margin: $spacing-sm $spacing-sm $spacing-lg $spacing-sm;
  text-align: center;

  @media (min-width: $media-tablet) {
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }

  @media (min-width: $media-desktop) {
    max-width: 60rem;
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }
}
