{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "cypress",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [0],
    "valid-jsdoc": ["error"]
  }
}
