{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["cypress", "prettier", "react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [0],
    "valid-jsdoc": ["error"],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never"
      }
    ],
    // "no-warning-comments": ["error", { "terms": ["TODO"], "location": "start" }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
