@import '../variables';

$countdown-fontsize: 2rem;
$countdown-lineheight: 3rem;

.Countdown {
  padding: $spacing-lg 0 $spacing-lg 0;
  text-align: center;

  & &__message {
    font-size: $countdown-fontsize;
    line-height: $countdown-lineheight;
  }
}
