$banner-alert-padding-x: .75rem !default;
$banner-alert-padding-y: .375rem !default;
$banner-alert-neutral-color: rgb(129, 123, 143) !default;
$banner-alert-success-color: rgb(0, 215, 117) !default;
$banner-alert-warn-color: rgb(255, 187, 0) !default;
$banner-alert-error-color: rgb(255, 84, 82) !default;

.BannerAlert {
  background-color: white;
  display: flex;
  padding: $banner-alert-padding-y $banner-alert-padding-x;
  flex-direction: row;
  overflow: hidden;
  border-radius: 0.375rem;
  
  &--neutral {
    box-shadow: 0 0 0 1px $banner-alert-neutral-color;
  }
  
  &--success {
    box-shadow: 0 0 0 1px $banner-alert-success-color;
  }

  &--warn {
    box-shadow: 0 0 0 1px $banner-alert-warn-color;
  }
  
  &--error {
    box-shadow: 0 0 0 1px $banner-alert-error-color;
  }

  &__neutral-icon {
    color: $banner-alert-neutral-color;
  }

  &__success-icon {
    color: $banner-alert-success-color;
  }

  &__warn-icon {
    color: $banner-alert-warn-color;
  }

  &__error-icon {
    color: $banner-alert-error-color;
  }
}