.TransparentPanel {
  position: relative;
  margin-top: 2rem;
  // margin-bottom: 100px;
  padding: .5rem 1rem;
  transition: all .7s;
  border: .3rem #e9e9e9 solid;
  color: #3f3f3f;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    display: block;
    z-index: -1;
    border: .125rem solid #d6d6d6;
    background: url(./background_pattern.png);
    opacity: .5;
  }
}
