.App {
  height: 100%;
}

body {
  background-image: url(./background_image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
