// #######  Colors
$color-primary: #4caf50;
$color-primary-dark: #357a38;
$color-primary-light: #6fbf73;
$color-primary-super-light: #fbfdeb;
$color-white: #fff;
$color-red: #f44336;
$color-gray: rgba(0, 0, 0, 0.3);

// #######  Spacing
$one-pixel-rem: 0.0625rem;
$spacing-xs: 0.375rem; // (6px)
$spacing-sm: 0.75rem; // (12px)
$spacing-md: 1.125rem; // (18px)
$spacing-lg: 1.875rem; // (30px)
$spacing-xl: 2.25rem; // (36px)

// ###### Media queries
$media-phone: 320px; /* stylelint-disable-line unit-blacklist */
$media-tablet: 768px; /* stylelint-disable-line unit-blacklist */
$media-desktop: 1024px; /* stylelint-disable-line unit-blacklist */
$media-widescreen: 1300px; /* stylelint-disable-line unit-blacklist */

// Other variables
$web-background-color: $color-primary-super-light;
