$prize-overview-background-color: white;
$border-radius: .2rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.875rem;

.PrizesOverview {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  padding: $spacing-lg;
  border-radius: $border-radius;
  background-color: $prize-overview-background-color;

  &__prizes-list {
    list-style-type: none;
  }
}
