.PrizesOverview {
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: .2rem;
  background-color: white;

  &__prizes-list {
    list-style-type: none;
  }
}