.ShareUrl {
  display: flex;
  width: 550px;
  margin: auto;
  align-items: 'center';

  & &__divider {
    height: 48px;
    margin: 0 4px;
  }

  & &__input {
    display: flex;
    padding: 5px;
    flex: 1;
    font-size: .75rem;
  }

  & &__input input {
    text-align: center;
  }
}
