.ShareUrl {
  display: flex;
  width: 550px;
  align-items: 'center';
  margin: auto;

  & &__divider {
    height: 48px;
    margin: 0 4px;
  }

  & &__input {
    flex: 1;
    font-size: 0.75rem;
    display: flex;
    padding: 5px;
  }

  & &__input input {
    text-align: center;
  }
}
