@import '../../variables.module';
$results-font-size: 5rem;

.Result {
  display: flex;
}

.Number {
  font-size: $results-font-size;
  line-height: $results-font-size;
}

.Card {
  display: inline-block;
  padding: $spacing-sm;
}
