@import '../variables';

$brand-font-size: 1.375rem;

.Header {
  padding: $spacing-xs $spacing-lg;
  background-color: $color-primary;

  & &__title {
    display: inline;
    margin-left: $spacing-xs;
    color: $color-white;
    font-size: $brand-font-size;
    vertical-align: middle;
  }

  &__link {
    text-decoration: none;
  }

  &__link:visited {
    color: $color-white;
  }

  &__logo {
    height: 2rem;
    vertical-align: middle;
  }
}
