@import '../variables';
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.Header {
  padding: .3rem 1rem;
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  background-color: $color-primary;

  &__link {
    color: white;
    text-decoration: none;
  }
  &__logo {
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    fill: #618833;

  }
}
