@import '../variables.module';

$label-line-height: 2rem;

.container {
  display: flex;
  padding: $spacing-xs 0 $spacing-xs;
  justify-content: space-around;
  background: $color-primary;
  text-align: center;

  @media (min-width: $media-tablet) {
    padding: $spacing-sm 0 $spacing-sm;
  }
}

.button {
  color: $color-white;
  font-weight: bold;
}
