// #######  Colors
$color-primary: #4caf50;
$color-primary-dark: #357a38;
$color-primary-light: #6fbf73;
$color-primary-super-light: #fbfdeb;
$color-white: #fff;
$color-red: #f44336;
$color-gray: rgba(0, 0, 0, .3);

// #######  Spacing
$one-pixel-rem: .0625rem;
$spacing-xs: .375rem;
$spacing-sm: .75rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.875rem;

// ###### Media queries
$media-phone: 320px; /* stylelint-disable-line unit-blacklist */
$media-tablet: 768px; /* stylelint-disable-line unit-blacklist */
$media-desktop: 1024px; /* stylelint-disable-line unit-blacklist */
$media-widescreen: 1300px; /* stylelint-disable-line unit-blacklist */

// Other variables
$web-background-color: $color-primary-super-light;
