// #######  Colors
$color-primary: #4caf50;
$color-primary-dark: #357a38;
$color-primary-light: #6fbf73;
$color-white: #fff;

// #######  Spacing
$one-pixel-rem: .0625rem;
$spacing-xs: .375rem;
$spacing-sm: .75rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.875rem;
$footer-background-color: $color-primary;
