@import '../variables';
$eas-chip-icon-width: 3.125rem;
$eas-chip-padding: $spacing-xs .5rem;

.DrawCard {
  display: flex;
  min-height: $spacing-md;
  margin: $spacing-xs 0;
  padding: $eas-chip-padding;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__icon {
    width: $eas-chip-icon-width;
    height: $eas-chip-icon-width;
  }

  &__title {
    padding-left: $spacing-md;
  }

  &__link {
    text-decoration: none;
  }
}
