@import '../variables.module';

$input-width: 40 * $one-pixel-rem;

.MultiValueInput {
  &__itemsList {
    padding: $spacing-sm;
    overflow: hidden;
  }

  &__label {
    color: $color-primary;
  }

  &__input {
    min-width: $input-width;
  }
}
