@import '../variables';

.SectionPanel {
  margin: $spacing-sm $spacing-sm $spacing-lg $spacing-sm;

  @media (min-width: $media-desktop) {
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }
}
