@import '../variables';
@import '../include-media';

.SectionPanel {
  padding: $spacing-lg $spacing-sm $spacing-lg $spacing-sm;

  @include media('>desktop') {
    padding-right: $spacing-lg;
    padding-left: $spacing-lg;
  }
}
