@import '../variables.module';

.Advert {
  max-width: 100%;
  text-align: center;
  overflow: hidden;

  // &__frame {
  //   display: inline-block;

  //   &--desktop {
  //     // width: 728 * $one-pixel-rem;
  //     height: 90 * $one-pixel-rem;
  //   }

  //   &--mobile {
  //     // width: 320 * $one-pixel-rem;
  //     height: 50 * $one-pixel-rem;
  //   }
  // }
}
