@import '../variables';

$label-line-height: 2rem;

.Footer {
  display: flex;
  padding: $spacing-sm 0 $spacing-sm;
  justify-content: space-around;
  background: $color-primary;
  text-align: center;

  & &__link {
    line-height: $label-line-height;
  }
}
