@import '../variables.module';

$prize-overview-background-color: white;

.container {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
  text-align: center;
}

.list {
  padding: 0;
  list-style-type: none;
}

.list li {
  padding-bottom: $spacing-xs;
}
