@import '../variables';

$border-radius: 4 * $one-pixel-rem;
$input-width: 40 * $one-pixel-rem;

.MultiValueInput {
  &__border {
    margin-top: $spacing-sm;
    padding: $spacing-xs;
    border-width: $one-pixel-rem;
    border-style: solid;
    border-radius: $border-radius;
    border-color: $color-gray;

    &--error {
      border-color: $color-red;
    }
  }

  &__itemsList {
    padding: $spacing-sm;
    overflow: hidden;
  }

  &__label {
    color: $color-primary;
  }

  &__input {
    min-width: $input-width;
  }
}
