.MultiValueInput {
  &__tags {
    position: relative;
  }
  &__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
  }
  &__tagInputField {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
  }
  &__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  &__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
  }
}