@import '../../include-media';
@import '../../variables';

.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;

  &__draw-chips-group {
    margin-bottom: 3rem;
  }
}
