@import '../../include-media';

.HomePage {
  padding-right: 20%;
  padding-left: 20%;

  @include media('>tablet') {
    &__container {
      width: 50%;
      margin: auto;
    }
  }

  &__draw-chips-group {
    width: 50%;
    margin-bottom: 3rem;
  }
}
