.AppShell {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // There must be an element between the Header and the Footer with 'flex: 1;' (e.g. a Page)
}

body {
  margin: 0;
  background-image: url('./background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  // transition: background 0s linear 0s
}
