.AppShell {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

/* stylelint-disable-next-line selector-max-type */
body {
  margin: 0;
  background-image: url(./background_image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
