@import '~bpk-mixins';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;

  &__header {
    padding: $bpk-spacing-xl 0;
    background-color: $bpk-color-blue-500;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-white;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base 0;
    }
  }

  &__main {
    padding: $bpk-spacing-base 0;
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }
}

// Needed to have higher specificity over Material UI
.App__draw .App {
  &__back_arrow {
    font-size: 10em;
    margin-top: .5em;
    color: green;
  }
}
