.PublishedRafflePage {
  display: flex;
  flex-direction: row;
  text-align: center;

  &__results-panel {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: .2rem;
    background-color: white;
  }

  &__summary-panel {
    text-align: left;
  }
}