$published-results-background-color: white;
$summary-panel-background-color: rgba(0, 0, 0, .09);
$border-radius: .2rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.875rem;

.PublishedRafflePage {
  &__content {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  &__results {
    width: 50%;
    margin: auto;
  }

  &__summary-container {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  &__summary {
    display: inline-block;
    text-align: left;
  }
}
