@import '../variables';

.WizardForm {
  &__stepper {
    background-color: #d6d6d685 !important;
  }

  &__buttons-row {
    text-align: center;
  }

  &__buttons-row &__step-button {
    margin: $spacing-md;
  }
}
