@import '../variables';

$winner-chip-border-color: $color-gray;
$winner-chip-leftside-background-color: $color-primary-light;

.WinnerChip {
  display: inline-flex;
  margin-top: $spacing-xs;
  border-width: $one-pixel-rem;
  border-style: solid;
  border-radius: $spacing-xs;
  border-color: $winner-chip-border-color;
  overflow: hidden;

  &__leftside-box {
    padding: $spacing-xs;
    border-right: $one-pixel-rem solid $winner-chip-border-color;
    background-color: $winner-chip-leftside-background-color;
  }

  &__rigthside-box {
    padding: $spacing-xs;
  }
}
