$winner-chip-border-color: #797979;
$winner-chip-leftside-background-color: #7d7;
$one-pixel-rem: .0625rem;
$spacing-xs: .375rem;

.WinnerChip {
  display: flex;
  margin-top: $spacing-xs;
  border-width: $one-pixel-rem;
  border-style: solid;
  border-radius: $spacing-xs;
  border-color: $winner-chip-border-color;
  overflow: hidden;

  &__leftside-box {
    padding: $spacing-xs;
    border-right: $one-pixel-rem solid $winner-chip-border-color;
    background-color: $winner-chip-leftside-background-color;
  }

  &__rigthside-box {
    padding: $spacing-xs;
  }
}
